*{
    box-sizing: border-box;
}
html,body {
    height: 100%;
}

body {
    margin: 0;
}

nav {
    background-color: red;
 display: flex;
justify-content: space-between; 
border-bottom: 2px solid black;
}

ul {
      list-style-type: none;
      margin: 1%;
      padding: 1%;
    display: flex;
    gap: 15px;
    
}
a:hover {
  color: rgb(105, 255, 133);
}

h1 {
    margin: 1%;
    padding: 1%;
    font-family: Inter 
}

.gtr{
    background-color: #1abc9c;
    
    
}
