*{
    box-sizing: border-box;
}
html,body {
    height: 100%;
}

body {
    margin: 0;
     background-color: rgb(0, 0, 0);
}

nav {
    background-color:  #b6adad;
 display: flex;
justify-content: space-between; 
border-bottom: 2px solid black;
padding: 10px 10px;
}

ul {
      list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
    
}
a:hover {
  color: rgb(105, 255, 133);
}

h1 {
    font-family: Inter ;
    margin: 0;
}

.gtr{
    background-color: #F7F7F7;
   text-align: center;
   font-family: fantasy
    
    
}

.hero-image {
 display: block;
 margin: auto;
 width: 25%;
  

}

.info{
    background-color: rgb(137, 132, 142);
     text-align: center;
     width: 40%;
     margin-left: 350px;
     
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

h2 {
    margin: 0%;
    grid-column: 1 / -1;
    font-family: monospace;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}
  



.info-image{
/* display: block; */
 
 /* width: 50%; */
  
  
}
.favorit{
    background-color: rgb(103, 104, 103);
    
    
   
}


footer{
    background-color: red;
    text-align: center;
    padding: 0%;
    margin: 0%;

}

.img-wrapper {
    background-color: rgb(62, 62, 62);
    display: flex;
    justify-content: space-between;
}

